/web-monitor/.vs
/web-monitor/obj
/web-monitor/bin
/web-monitor/tests/WebMonitor.Tests/bin
/web-monitor/tests/WebMonitor.Tests/obj
/api/WebMonitorApi/obj/
/api/WebMonitorApi/bin
/monitor/Monitor/obj
/monitor/Monitor/bin/

/back-end/src/api/WebMonitorApi/bin
/back-end/.vs
/back-end/obj
/back-end/src/api/WebMonitorApi/obj
/back-end/src/monitor/Monitor/obj
/back-end/src/monitor/Monitor/bin
/back-end/tests/WebMonitor.Tests/bin
/back-end/tests/WebMonitor.Tests/obj
